body{
	background:#f9eecf;
	color: #6b4305;
}
.bgimage{
	background-image: url("../images/background.jpg");
	background-position: center center;
	background-size: cover;
	height:150px;
}
a.navbar-brand{
	color:#6b4305;
	size:.5em;
}
ul.nav{
	color:#6b4305;
	font-size: 	1.5em;
}
li.active{
	color: #6b4305;
	font-weight: bold;	
}
/*.bgimage h1{
	/* margin-top:40px;
}*/
.align-middle {
  margin-top: 25%;
  margin-bottom: 25%;
} 
.float-right{
	float:right;
}
.icon{
	max-width:150px;
	margin: 0 auto;
	display:block;
}
.services section{
	text-align: center;
	padding-bottom: 20px;
}
@media(min-width: 1200px){
	h3{
		margin-top: 0;
	}
	.services section{
		text-align: :right;
	}
}
#main-bio,
#contact-info
 {
	background: #fff;
	padding: 0px 20px 20px 20px;
}
#main-bio {
	margin-bottom: 20px;
	border: 1px solid ##b09835;
	color: #6b4305;
	padding-top:20px;
	
}
#main-bio h3{
	padding-top: 10px;
}
#main-bio p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;	
}
#contact-info {
	border: 1px solid ##b09835;
}
#bio-image {
	width: 200px;
	height: 200px;
	float: left;	
	margin-right: 20px;
	margin-bottom: 20px;
}
#contact-info ul {
    margin: 0;
    padding: 0;
 }
#contact-info li{
    display: inline;
    padding:10px;
}
.main{
	margin-top: 25px;
}

footer{
	background:#6b4305; 
	height: 75px;
	color:#f9eecf;
	text-align: center;
	font-size: xx-small;
	margin-top: 20px;
	
}
footer p {
	padding-top: 35px;
	background-size: cover;
}