* {
	margin: 0px;
}
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #efeee7; 
	overflow: hidden;
	line-height: 150%;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height:100%;   
}
.main-header {
	background: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #eee;
	border-bottom: 1px solid #cccccc;
}
.heading-wrapper{
	position: relative;;	
	width:60em;
 	margin: 0 auto;
 	height: 5em;
}
.main-header h1 {
	position: relative;
	height: 1.4em;
    width: 40%;
    float:left;
    background: #4aaaa5;
    text-align: center;
	top: 10px;
	padding-top: 25px;	
}
.main-header nav {
    width: 50%;
    position: relative;
    padding: 30px 0; 
    float:right;
    text-align: right;
}
nav a:link { color: #666; }
nav a:visited { color: #999; }
nav a:hover { color: #4aaaa5; }
nav a:active { 
	background-color: #000;
    color: #fff;
    font-weight:bold;
}
nav a.active{
	font-weight: bold;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:after{
    content: " |";
    padding: 0 10px;
}
nav a:last-child:after {
  content: '';
}
#main {
	position: relative;
	height: 90%;
	overflow: hidden;
	border: #ddd 1px solid;
	background-image: url('../images/ricepaper.png');
	overflow: auto;
	overflow-x: hidden;
}
.container {
	position: relative;
 	width:60em;
	margin: 0 auto;
	margin-bottom: 10px;
	color:#777777;
	height:inherit;
}
.container h3 {
	font-size: 1.5em;
	color:#4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding-bottom: 15px;
}
#main-bio,
#contact-info,
#bio-image {
	float: left;
	background: #fff;
	padding:15px;
}
#main-bio {
	width: 38.75em;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	float: left;
	border: 1px solid #ddd;
	color: #777777;
}
#main-bio p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#contact-info {
	position: relative;
	width: 15em;
	margin-top: 10px;
	float:right;
	border: 1px solid #ddd;
}
#bio-image {
	margin-right: 20px;
	vertical-align: text-top;
}
#contact-info ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
 }
#contact-info li{
    display: inline;
    padding:15px;
}

/* --- Specific to Contact form -- */
#form-control{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.frm-elements{
	border:1px solid #999;
	width:98%;
	padding: 15px 5px;
}
.submit{
	background: #4aaaa5;
	padding: 10px 25px;
	color:#fff;
	font-size: 12px;
}
/*--- Specific to Portfolio --*/
.tbl-portfolio{
	 margin: 0 auto;
	 color:#fff;
}
.tbl-portfolio td {
	width:20em;
	margin-top: 25px;
	padding-bottom: 15x;
		/* padding-right: 15px; */
}
.img-portfolio{
	/* width:80%; */
}
.portfolio{
	position: relative;
	left:0;
	padding: 0;
    width: 280px; /* for IE 6 */
}
.txt-overlay{
	position: absolute;
 	padding:15px 0;
   	text-align: center; 
	width: 17.5em; 
	color: #ffffff;
	background: #4aaaa5;
	z-index: 10;
	top:70%;
	margin-top: 10px;
	margin-left: 0px;
}
/* sticky footer */
.container {
	min-height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 100px; /* '.push' must be the same height as 'footer' */
}
footer p{
	margin-top: 35px;
}
.footer, .push {
	clear: both;
}
.footer {
  background-color: #666666;
  color:#fff;
  text-align: center;
  border-top:  solid 5px #4aaaa5;
  height: 10%;
  font-size: x-small;
}
/*view port size 980 */

@media only screen and (max-device-width: 980px) {
    #main-bio {
		width:100%;
		margin-bottom: 20px;

	}

}
/* view port size 768 */
@media only screen and (max-width: 768px) {
 	
 	.main-header nav{
 		padding-left:5px;
 		float: left;
 		width: 30%;
 	}
    #bio-image{
    	width:18.75em;
    	height:18.75em;
    }
    
	.container {
		position: relative;

	}
	#main-bio {
		/* width:100%; */
		border:1px solid #999;
		margin:10px;

	}
	.tbl-portfolio{
		position: relative;
	}
	#contact-info {
		position: absolute; 
		
		bottom: 0;
		padding-right: 41%;
		
		border:1px solid #999;
		margin:10px;
	}
}

/* view port size 640 */
@media only screen and (max-width: 640px) {
	.main-header{
		background:#4aaaa5;
		text-align: center;
		float:none;
		
		position: relative;
	}
	.main-header h1{
		position: relative;
		float: none;
		width:40%;
		margin-left: 50px;
	}
	.main-header nav{
		float:none;
		position: absolute;
		width:33em;
		padding-left: 100px;
		text-align: left;
		background: #fff;
		border:1px solid #999;
		z-index: 2;	
	} 
	
	.container{
		
		margin:10px; 
		position: relative;
		
		
	}
	#main-bio{
		
		position: relative;
		top:100px;
		border:1px solid #ddd;
		width:33em;
		
		float:none;
		
		
	}
	#main-bio p{
		z-index: 3;
		position: relative;
		padding-top: 500px;
	}
	
	#bio-image{
		position: absolute;
		margin: 0 auto;
		width:31.8215em;
		height:31.8215em;
	
	}
 	#contact-info {
 		
		position: relative;
		width:540px;
		top:30px;
		margin-top: 80px;
		border:1px solid #ddd;
		padding-left: 10px;
		padding-right: 10px;
		float:none;
		
	}
	.main-wrapper{
		position: relative;
		width:80%;
	}
	.push{
		display:none;
	}
	footer{
		padding-top:20px;
		
	}
}